/* Modal Container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

/* Modal Content */
.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__content_type_image {
  width: 498px;
  height: 610px;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal__image {
  width: 498px;
  height: 498px;
  position: absolute;
  z-index: 1;
}

.modal__close_type_image {
  z-index: 2;
}

.modal__footer {
  align-self: flex-start;
  margin-top: auto;
  margin-left: 32px;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.modal__weather {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 32px;
  margin-top: 12px;
}

/* Delete Button */
.modal__delete-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 77, 0, 1);
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 71px;
  right: 26px;
  cursor: pointer;
}

.modal__delete-button_visible {
  display: block;
}

.modal__delete-button_hidden {
  display: none;
}

/* Title, form, and button styles */
.modal__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 24px;
}

/* Close Button */
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
}

.modal__close-image:hover {
  cursor: pointer;
}

/* Form */
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.modal__label_type_radio {
  padding: 0 0 8px;
}

.modal__input {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px 0 0;
  margin: 0 0 28px;
  border-top: 1px rgba(0, 0, 0, 1);
  border-right: 1px rgba(0, 0, 0, 1);
  border-left: 1px rgba(0, 0, 0, 1);
  width: 100%;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__legend {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 0 0 12px;
}

/* Buttons Group */
.modal__button-group {
  margin-top: 20px;
}

.modal__submit {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 8px 16px;
  display: inline-block;
  height: auto;
  width: auto;
  border: 0;
  margin-top: 24px;
}

.modal__submit:hover {
  cursor: pointer;
}

.modal__secondary-button {
  flex: 1;
  height: 36px;
  width: 86px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}

.modal__third-button {
  flex: 1;
  height: 36px;
  width: 86px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}
